<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itmuch.cloud.study.payment.dao.impl.mapper.PayTransactionExtensionMapper" >
  <resultMap id="BaseResultMap" type="com.itmuch.cloud.study.payment.entity.PayTransactionExtension" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="pay_method_id" property="payMethodId" jdbcType="INTEGER" />
    <result column="transaction_code" property="transactionCode" jdbcType="VARCHAR" />
    <result column="call_num" property="callNum" jdbcType="INTEGER" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.itmuch.cloud.study.payment.entity.PayTransactionExtension" extends="BaseResultMap" >
    <result column="extension_data" property="extensionData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, transaction_id, pay_method_id, transaction_code, call_num, create_person, create_time, 
    update_person, update_time, is_deleted
  </sql>
  <sql id="Blob_Column_List" >
    extension_data
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.itmuch.cloud.study.payment.entity.PayTransactionExtensionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_pay_transaction_extension
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itmuch.cloud.study.payment.entity.PayTransactionExtensionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_pay_transaction_extension
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_pay_transaction_extension
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_pay_transaction_extension
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.itmuch.cloud.study.payment.entity.PayTransactionExtensionExample" >
    delete from tb_pay_transaction_extension
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itmuch.cloud.study.payment.entity.PayTransactionExtension" >
    insert into tb_pay_transaction_extension (id, transaction_id, pay_method_id, 
      transaction_code, call_num, create_person, 
      create_time, update_person, update_time, 
      is_deleted, extension_data)
    values (#{id,jdbcType=BIGINT}, #{transactionId,jdbcType=VARCHAR}, #{payMethodId,jdbcType=INTEGER}, 
      #{transactionCode,jdbcType=VARCHAR}, #{callNum,jdbcType=INTEGER}, #{createPerson,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT}, #{extensionData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.itmuch.cloud.study.payment.entity.PayTransactionExtension" >
    insert into tb_pay_transaction_extension
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="payMethodId != null" >
        pay_method_id,
      </if>
      <if test="transactionCode != null" >
        transaction_code,
      </if>
      <if test="callNum != null" >
        call_num,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="extensionData != null" >
        extension_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="payMethodId != null" >
        #{payMethodId,jdbcType=INTEGER},
      </if>
      <if test="transactionCode != null" >
        #{transactionCode,jdbcType=VARCHAR},
      </if>
      <if test="callNum != null" >
        #{callNum,jdbcType=INTEGER},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="extensionData != null" >
        #{extensionData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itmuch.cloud.study.payment.entity.PayTransactionExtensionExample" resultType="java.lang.Integer" >
    select count(*) from tb_pay_transaction_extension
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_pay_transaction_extension
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.transactionId != null" >
        transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      </if>
      <if test="record.payMethodId != null" >
        pay_method_id = #{record.payMethodId,jdbcType=INTEGER},
      </if>
      <if test="record.transactionCode != null" >
        transaction_code = #{record.transactionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.callNum != null" >
        call_num = #{record.callNum,jdbcType=INTEGER},
      </if>
      <if test="record.createPerson != null" >
        create_person = #{record.createPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatePerson != null" >
        update_person = #{record.updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.extensionData != null" >
        extension_data = #{record.extensionData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_pay_transaction_extension
    set id = #{record.id,jdbcType=BIGINT},
      transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      pay_method_id = #{record.payMethodId,jdbcType=INTEGER},
      transaction_code = #{record.transactionCode,jdbcType=VARCHAR},
      call_num = #{record.callNum,jdbcType=INTEGER},
      create_person = #{record.createPerson,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_person = #{record.updatePerson,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      extension_data = #{record.extensionData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_pay_transaction_extension
    set id = #{record.id,jdbcType=BIGINT},
      transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      pay_method_id = #{record.payMethodId,jdbcType=INTEGER},
      transaction_code = #{record.transactionCode,jdbcType=VARCHAR},
      call_num = #{record.callNum,jdbcType=INTEGER},
      create_person = #{record.createPerson,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_person = #{record.updatePerson,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itmuch.cloud.study.payment.entity.PayTransactionExtension" >
    update tb_pay_transaction_extension
    <set >
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="payMethodId != null" >
        pay_method_id = #{payMethodId,jdbcType=INTEGER},
      </if>
      <if test="transactionCode != null" >
        transaction_code = #{transactionCode,jdbcType=VARCHAR},
      </if>
      <if test="callNum != null" >
        call_num = #{callNum,jdbcType=INTEGER},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="extensionData != null" >
        extension_data = #{extensionData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.itmuch.cloud.study.payment.entity.PayTransactionExtension" >
    update tb_pay_transaction_extension
    set transaction_id = #{transactionId,jdbcType=VARCHAR},
      pay_method_id = #{payMethodId,jdbcType=INTEGER},
      transaction_code = #{transactionCode,jdbcType=VARCHAR},
      call_num = #{callNum,jdbcType=INTEGER},
      create_person = #{createPerson,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      extension_data = #{extensionData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itmuch.cloud.study.payment.entity.PayTransactionExtension" >
    update tb_pay_transaction_extension
    set transaction_id = #{transactionId,jdbcType=VARCHAR},
      pay_method_id = #{payMethodId,jdbcType=INTEGER},
      transaction_code = #{transactionCode,jdbcType=VARCHAR},
      call_num = #{callNum,jdbcType=INTEGER},
      create_person = #{createPerson,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>